# Database Configuration
# These environment variables must be set when running the application

DB_HOST=localhost:5433
DB_NAME=retafit
DB_USER=postgres
DB_PASSWORD=1234567

NFSE_API_URL=API_URL
NFSE_CERT_PATH=A1_CERT_PATH
NFSE_CERT_PASSWORD=A1_CERT_PASSWORD

