HELP.md
target/
receita/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.cert
.env
.legado
.prompt
.docs
.copilot
.devin
.QA
*sefaz-cacerts*

### Playwright ###
.playwright*
playwright*
.claude
test-results


### Graphify ###
graphify-out/
.kiro/
.agents
CLAUDE.md
graphify*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/DOC_HOMOLOGACAO_NFSE.md
